
  img {

  }

.header {
  background: blue;
  height: 43px;
}

.retorno {
  text-align: right;
  margin-right: 10px

}

.titulo {
  text-align: left;
  text-decoration: underline;
  text-decoration: underline;
  font-weight: bold;
}

iframe {

    margin: 0 auto;
    display: block;
}

.explicacion {
  margin-left: 1%;
  margin-right: 5%;
  border: 0px solid black;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 15px;
}
